.SVw20 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  background-image: radial-gradient(#11581e, #041607),
    url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inconsolata", Helvetica, sans-serif;
  font-size: 2.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex rgba(51, 255, 51, 1), 0 0 2px rgba(255, 255, 255, 0.8);
}

.GhMO_ {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02;
}

.GFYYM {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: auto 4px;
  z-index: 1;
}

.GFYYM::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(32, 128, 32, 0.2) 2%,
    rgba(32, 128, 32, 0.8) 3%,
    rgba(32, 128, 32, 0.2) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
  animation: OBSnT 7.5s linear 0s infinite;
}

@keyframes OBSnT {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}

.I_t6K {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  gap: 30px;
  max-width: 100%;
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.UEVtL {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

.UEVtL::before {
  content: "> ";
}

._8cFpK {
  color: #fff;
  text-decoration: none;
}

._8cFpK::before {
  content: "[";
}

._8cFpK::after {
  content: "]";
}

.QBBHL {
  color: white;
}

h1 {
  margin-bottom: 20px;
}

._wWjP {
  width: 100%;
  position: relative;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.cNKcr {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  gap: 45px;
}

@media (max-width: 1200px) {
  .ugkp3 {
    max-width: 900px;
  }
}

@media (max-width: 998px) {
  .ugkp3 {
    max-width: 869px;
    padding-top: 70px;
    gap: 27px;
  }
}

@media (max-width: 768px) {
  .ugkp3 {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    gap: 20px;
  }
}

@media (max-height: 650px) {
  .ugkp3 {
    padding-top: 60px;
  }
}

.OkV2e {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  flex: 1 1 auto;
}

.czMpW {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: inherit;
}

.V9NHL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  flex: 1 1 auto;
}

.CEj2X {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: black;
}

.voeuB {
  margin-top: 20px;
  margin-bottom: 36px;
}

._iBRb {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.z9vOA {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  opacity: 0.6;
  z-index: 10;
}

.GTkAX {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  perspective: 800px;
}

.wnwa3 {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wnwa3.hP8Xe {
  left: 0%;
  top: 0%;
  animation: _mJfY 1s linear infinite;
  border-bottom: 7px solid var(--module-button-backgroundColor);
}

.wnwa3.pm19i {
  right: 0%;
  top: 0%;
  animation: elOnc 1s linear infinite;
  border-right: 7px solid #ff6163;
}

.wnwa3.aimss {
  right: 0%;
  bottom: 0%;
  animation: EFr5S 1s linear infinite;
  border-top: 7px solid rgb(4, 224, 97);
}

@keyframes _mJfY {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes elOnc {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes EFr5S {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.GsEZm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

:root {
  --primary: #0077ff;
  --white---white: #fff;
  --white---white-alpha72: rgba(255, 255, 255, 0.72);
  --white---white-alpha64: rgba(255, 255, 2--black---black-alpha1255, 0.64);
  --white---white-alpha40: rgba(255, 255, 255, 0.4);
  --white---white-alpha16: rgba(255, 255, 255, 0.16);
  --white---transparent-white: rgba(255, 255, 255, 0);
  --white---white-alpha24: rgba(255, 255, 255, 0.24);
  --white---white-alpha4: rgba(255, 255, 255, 0.04);
  --black---black: #000;
  --black---black-alpha88: rgba(0, 0, 0, 0.88);
  --black---black-alpha72: rgba(0, 0, 0, 0.72);
  --black---black-alpha56: rgba(0, 0, 0, 0.56);
  --black---black-alpha40: rgba(0, 0, 0, 0.4);
  --black---black-alpha24: rgba(0, 0, 0, 0.24);
  --black---black-alpha16: rgba(0, 0, 0, 0.16);
  --black---black-alpha12: rgba(0, 0, 0, 0.12);
  --black---black-alpha8: rgba(0, 0, 0, 0.08);
  --black---transparent-black: rgba(0, 0, 0, 0);
  --blue---400: #5181b8;
  --blue---420: #4a76a8;
  --blue---600: #2a5885;
  --blue---640: #224b7a;
  --blue---blue-800: #1d3a5c;
  --blue---400-alpha48: rgba(81, 129, 184, 0.48);
  --blue---980-alpha12: rgba(0, 20, 51, 0.12);
  --gray---200: #ccc;
  --gray---300: #b3b3b3;
  --gray---400: #939393;
  --gray---500: #828282;
  --gray---600: #656565;
  --gray---700: #555;
  --gray---800: #333;
  --gray---900: #222;
  --gray---960: #0a0a0a;
  --gray---800-alpha88: rgba(51, 51, 51, 0.88);
  --gray---800-alpha72: rgba(51, 51, 51, 0.72);
  --gray---900-alpha16: rgba(10, 10, 10, 0.16);
  --steel-gray---10: #fafbfc;
  --steel-gray---20: #f7f8fa;
  --steel-gray---40: #f2f3f5;
  --steel-gray---60: #edeef0;
  --steel-gray---80: #e7e8ec;
  --steel-gray---100: #dce1e5;
  --steel-gray---120: #d3d9de;
  --steel-gray---140: #c5d0db;
  --steel-gray---200: #aeb7c2;
  --steel-gray---300: #99a2ad;
  --steel-gray---400: #818c99;
  --steel-gray---500: #6f7985;
  --steel-gray---540: #626d7a;
  --steel-gray---a540: #55677d;
  --steel-gray---600: #4e5966;
  --light-blue---40: #e5ebf1;
  --light-blue---80: #dfe6ed;
  --light-blue---100: #dae2ea;
  --light-blue---300: #9eb4c8;
  --light-blue---a300: #8fadc8;
  --light-blue---400: #7996b2;
  --light-blue---500: #577ca1;
  --light-blue---700: #45688e;
  --colors---blue-bright: #5c9ce6;
  --colors---sky-200: #70c1ff;
  --colors---sky-100: #99d3ff;
  --colors---sky-80: #b2deff;
  --colors---turquoise: #63b9ba;
  --colors---green-dark: #43a843;
  --colors---green: #4bb34b;
  --colors---green-nice: #3dcc4b;
  --colors---red: #e64646;
  --colors---red-nice: #ff3347;
  --colors---orange-fire: #f05c44;
  --colors---orange-prominent: #ff724c;
  --colors---orange: #ffa000;
  --colors---yellow: #ffc107;
  --colors---green-light: #def0d3;
  --colors---yellow-light: #faefd2;
  --colors---red-light: #ffd6cc;
  --colors---green-alpha16: rgba(75, 179, 75, 0.16);
  --colors---red-alpha16: rgba(230, 70, 70, 0.16);
  --colors---azure-a100: #2787f5;
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../244813b0774c4a4f14a6.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../12d2755ac5cd5c7790bd.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Droid Sans";
  src: url(../6509cf43581d63eba297.ttf) format("ttf");
}

@font-face {
  font-family: "Segoe UI";
  src: url(../45472284dc36b2486ce2.ttf) format("ttf");
}

* {
  scroll-behavior: smooth;
  list-style: none;
  scroll-padding-top: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", sans-serif;
  outline-color: #0af;
}

::-webkit-scrollbar {
  width: 8px; /* ширина scrollbar */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px; /* закругление */
  background-color: #b2def6;
}

body {
  font-weight: 400;
  min-height: 100vh;
  position: relative;
  color: var(--black---black);
  background: var(--steel-gray---60);
  font-family: var(--font-family);
}


/*# sourceMappingURL=main.730d25a7.css.map*/